/resource/
/res/
/.idea/
/utils/__pycache__/
/runs/
/saved_model/
/__pycache__/
/data/IMDB-L/tokenizer/
/data/IMDB-L/vector/
/data/IMDB-S/tokenizer/
/data/IMDB-S/vector/
/data/KINDLE/tokenizer/
/data/KINDLE/vector/
/data_before11.3/
/data/ABSA/SemEval 2014 Task 4/
